<!DOCTYPE html>
<html lang="en" ng-App="myApp">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hashbounties</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.css">

    <!-- Custom styles for this template -->
    <link href="css/new-age.css" rel="stylesheet">
    <link href="extra.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
  </head>

  <body id="page-top" ng-controller="hashBountiesCtrl">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">HashBounty</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="btn btn-danger" href="#download" data-toggle="modal" data-target="#exampleModal">Submit Your Hash Bounty</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-7">Crowd sourced cryptographic bounties</h1>
              <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Show me the bounties!</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="hash_logo">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

<!--
    <section class="download text-center" id="download">
      <div class="container">
        <div class="row">
            <p><h3>My Wallets</h3></p>
            <div class="col-md-12">
                <table width="100%" class="group-left">
                <tr class="title">
                    <td>Wallet File</td>
                    <td>Password Hint</td>
                    <td>Status</td>
                </tr>
                <tr>
                    <td>EtherWallet.json</td>
                    <td>A-Za-z0-9</td>
                    <td>Pending</td>
                </tr>
                </table>
            </div>
        </div>
    </div>
    </section>
-->
    
    <section class="download text-center" id="download" style="background-color: #f9f7f7;">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><h3>Current Bounties</h3></div>
                <div></div>
              <div class="col-md-12">
                  <table ng-table="vm.tableParams" class="table" show-filter="true">
                    <tr class="title">
                      <td>Bounty</td>
                      <td>Encryption</td>
                      <td>Hash</td>
                      <td>Status</td>
                      <td></td>
                    </tr>
<!--                       | orderBy: check_user(hashbounty[0]) -->
                    <tr ng-class="check_user(hashbounty[0])" aclass='user_request' ng-repeat="hashbounty in hashBounties">
                        <td>{{bounty_price(hashbounty[1])}} ETH</td>
                        <td>{{hashbounty[3]}}</td>
                        <td>{{hashbounty[2]}}</td>
                        <td>{{status(hashbounty)}}</td>
                        
                        <td ng-if="check_user(hashbounty[0]) && !hashbounty[5].length > 0 && !hashbounty[6]"><a class="btn btn-warning" ng-click="openCancelModal(hashbounty[7])">Cancel</a></td>
                        <td ng-if="check_user(hashbounty[0]) == 0 && !hashbounty[5].length > 0"><a class="btn btn-warning" ng-click="openSubmitCrackModal(hashbounty[7])">Submit</a></td>
                        <td ng-if="hashbounty[5].length > 0 || hashbounty[6]"></td>
                    </tr>
                  </table>
            </div>
              
          </div>
        </div>
    </section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bounty Submission</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form name="submit_hash">
          <div class="form-group">
              <label>Cryptographic Hash:</label>
              <input type="text" class="form-control" name="hash_to_break" aria-describedby="hashHelp" placeholder="Hash">
              </br>
              <label>Hash type:</label>
              <select ng-options="hashType as hashType.name for hashType in hashTypes " ng-model="selectedItem" ng-change="update()" ng-init="selectedItem=hashTypes[0]"></select>
              <!-- <select class="form-control" name="hash_type" aria-describedby="hashHelp">
                  <option>sha256</option>
                  <option>sha3</option>
                  <option>Ethereum Wallet</option>
              </select> -->
              <input ng-if="selectedItem.file == 1" type="file" class="form-control" name="inputFile" aria-describedby="inputFile" placeholder="inputFile">

              </br>
              <label>Price (In Ether):</label>
              <input type="number" value="0.1" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" name="price" />      
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  ng-click="pay()">Start!</button>
      </div>
    </div>
  </div>
</div>
</div>



<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Submit this solution</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form name="submit_crack">
          <div class="form-group">
              <label>Password:</label>
              <input type="text" class="form-control" name="password" aria-describedby="hashHelp" placeholder="Password">
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  ng-click="submitCrack()">Submit!</button>
      </div>
    </div>
  </div>
</div>
</div>
      


<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cancel this Hash Bounty</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  ng-click="cancelHashBounty()">Cancel!</button>
      </div>
    </div>
  </div>
</div>
</div>
      

<div class="modal fade" id="thanksYou" tabindex="-1" role="dialog" aria-labelledby="thankYouModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="thankYouModalLabel">Tx Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <b>Your submission has been sent to the blockchain.</b> </br>
          Tx id: <a id='tx' href="#">Tx</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <footer>
      <div class="container">
        <p>&copy; HashBounty.com 2018. All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>
    <script>
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
    })    
    </script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <script src="main.js"></script>
  </body>


</html>
